NODE_ENV=development
PORT=5000
API_DOMAIN=http://localhost:5000
JWT_SECRET=your_jwt_secret_here
DB_URI=mongodb://localhost:27017/dev_db
CORS_ORIGIN=http://localhost:5173,*
DATABASE_URL="postgresql://apple:@localhost:5432/db?schema=public"
